.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-container {
  width: 305px;
  height: 500px;
  /* background-color: hsl(31, 77%, 52%); */
  color: #fff;
  border-radius: 8px;
  padding-left: 45px;  
  padding-top: 45px;
}

.card--header {
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  font-weight: 700;
  padding: 45px 0 45px 0;
}

.card--description {
  width: 210px;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}

.card--button {
  margin-top: 60px;
  width: 145px;
  height: 45px;
  border-radius: 30px;
  border: 0;
  font-family: 'Lexend Deca', sans-serif;
}